.card {
  width: 100%;
  background-color: var(--nw-background-color-primary);
  border: 1px solid var(--nw-border-color-primary);
  border-radius: 25px;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px;
  gap: 50px;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.card-icon {
  color: var(--nw-color-primary);
  margin-bottom: 20px;
}

.card-title {
  color: var(--nw-font-color-primary);
  margin-bottom: 3px;
  font-weight: bold;
  font-size: 30px;
  line-height: 41px;
}

.card-text {
  color: var(--nw-font-color-primary);
  font-weight: 600;
  font-size: 23px;
  line-height: 32px;
  text-align: center;
}

.btn-outline-success {
  font-size: 26px;
  line-height: 36px;
  font-weight: bold;
  border-radius: 46px;
  border-width: 2px;
  width: 258px;
  padding: 18px;
  --bs-btn-color: var(--nw-font-color-primary-highlight);
  --bs-btn-border-color: var(--nw-color-primary);
  --bs-btn-hover-bg: var(--nw-color-primary);
  --bs-btn-hover-border-color: var(--nw-color-primary);
}
