:root {
  --nw-color-primary: #56b059;
  --nw-color-secondary: #000000;
  --nw-font-color-primary: var(--nw-color-secondary);
  --nw-font-color-primary-highlight: var(--nw-color-primary);
  --nw-background-color-primary: #ffffff;
  --nw-background-color-secondary: #f0f0f0;
  --nw-border-color-primary: #cccccc;
}
